        <h1>Welcome to PBB Blog</h1>
<section id="container">

<h2><a href="/posts/{{post.slug}}/edit">Edit Post</a></h2>
<span class="login">Hello! {{user}}</span>

  <ul>
  {{#posts}}
    <li>Title: {{title}}</li>

    <li>Author:  {{author}}</li>
  {{/posts}}
  </ul>

<p><a href="/posts/new">Create a new post Here</p>

      {{#posts}}

<h1><a href="/posts/{{post.slug}}/">{{title}}</a></h1>

    <p>{{formatted}}</p>
    <p>{{truncated}}<a href="/posts/{{slug}}">...&nbsp;&nbsp;More&raquo;</a></p>

      <ul class="posts">
          <li><a href="/posts/{{slug}}/">{{title}}</a> | {{formatted}}</li>
      </ul>
    	{{/posts}}
      
  </section>
