<h1>Welcome to PBB Blog</h1>

<span class="login">Hello, {{user}}</span>

<p>PBB Blog posts are listed here: <a href="/posts/new">Create a new post Here</p>

  <div class="list">
      {{#posts}}

      <ul class="posts">
        <li><a href="/posts/{{slug}}/">{{title}}</a> | {{formatted}}</li>
      </ul>

<h1><a href="/posts/{{slug}}/">{{title}}</a></h1>

             <p>{{formatted}}</p>
    			<p>{{truncated}}<a href="/posts/{{slug}}/">...&nbsp;&nbsp;More&raquo;</a></p>

    	{{/posts}}
  </div>
